/*Completo*/
*{margin: 0; padding: 0; font-family: "Arial Narrow";}


/*Contenido*/
.contenido {
    width: 90%;
}
.contenido h1 {
    padding-top: 20px;
    margin-bottom: 16px;
    font-size: 30px;
}
.contenido h2 {
    padding-top: 20px;
    margin-bottom: 16px;
    font-size: 30px;
}
.contenido p {
    margin-bottom: 16px;
    text-align: justify;
    font-size: 20px;
}
.post img{ 
    border-radius: 250px;
    width: 200px;
    height: 180px;
}

