/*Completo*/
*{margin: 0; padding: 0; font-family: "Arial Narrow";}


/*Contenido*/
.contenido h2 {
    padding-top: 120px;
    margin-bottom: 16px;
}

.contenido p {
    margin-bottom: 16px;
    text-align: justify;
}
.post img{ 
    border-radius: 250px;
    width: 230px;
    height: 180px;
}

